body{
    background-image: url("/t23/css/images/login_admin_wallpaper.jpg");
    /* background-color: #f4f7f6; */
    margin-top:20px;
}

.file_manager .file a:hover .hover,
.file_manager .file .file-name small{
display: block
}

.file_manager .file {
padding: 0 !important
}

.file_manager .file .icon{
text-align: center
}

.file_manager .file {
position: relative;
border-radius: .55rem;
overflow: hidden
}

.file_manager .file .image,
.file_manager .file .icon {
max-height: 180px;
overflow: hidden;
background-size: cover;
background-position: top
}

.file_manager .file .hover {
position: absolute;
right: 10px;
top: 10px;
display: none;
transition: all 0.2s ease-in-out
}

.file_manager .file a:hover .hover {
transition: all 0.2s ease-in-out
}

.file_manager .file .icon {
padding: 15px 10px;
display: table;
width: 100%
}

.file_manager .file .icon i {
display: table-cell;
font-size: 30px;
vertical-align: middle;
color: #777;
line-height: 100px
}

.file_manager .file .file-name {
padding: 10px;
border-top: 1px solid #f7f7f7
}

.file_manager .file .file-name small .date {
float: right
}

.folder {
padding: 20px;
display: block;
color: #777
}

@media only screen and (max-width: 992px) {
.file_manager .nav-tabs {
    padding-left: 0;
    padding-right: 0
}
.file_manager .nav-tabs .nav-item {
    display: inline-block
}
}

.card {
background: #fff;
transition: .5s;
border: 0;
margin-bottom: 30px;
border-radius: .55rem;
position: relative;
width: 100%;
box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

a:hover {
text-decoration:none;
}

/*MODIFICA (12/02/2024) : Gestione errori compilazione all'interno del form di login*/
.input-error {
border: 2px solid red;      /* Modifica il bordo per evidenziare l'errore */
background-color: #ffebeb; /* Modifica il colore di sfondo per evidenziare l'errore */
}
.input-error::placeholder {
color: red;
}

.login-signup-now {
    display: block;
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
    color: rgb(37, 150, 190);
}

.login-signup-now:hover {
text-decoration: underline;
color: rgb(63, 176, 241);
}
.login-change-psw {
    display: block;
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
    color: rgb(37, 150, 190);
}

.login-change-psw:hover {
text-decoration: underline;
color: rgb(63, 176, 241);
}

.login-invitation {
    display: block;
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
    color: rgb(37, 150, 190);
}

.login-invitation:hover {
text-decoration: underline;
color: rgb(63, 176, 241);
}

.footer-column {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    background-color: #ffffff;
    border-top: 1px solid #f0f0f0;
    border-radius: 0 0 .55rem .55rem;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
}

.footer-column h1 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

.lang-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.lang-wrapper img {
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: 50%;
    border: 2px solid transparent;
    width: 40px;
    height: 40px;
}

.lang-wrapper img:hover {
    transform: scale(1.1);
    border-color: #2596be;
}
